form{
	border: solid 1px;
	width: 750px;
	margin-left: 240px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #f7ec6f;
	padding-bottom: 20px;

}
h1{
	text-align: center;
	font-size: 50px;
	color: navy;
}
p{
	font-size: 20px;
}
label{
	font-size: 23px;
	color: navy;
	font-weight: bold;
}
input{
	width: 500px;
	height: 35px;
	background-color: #e8e8e3;
	border-width: 1px;
	font-size: 20px;
}
textarea{
	width: 500px;
	height: 150px;
	background-color: #e8e8e3;
	font-size: 20px;
}
button{
	width: 180px;
	height: 60px;
	border-radius: 15px;
	background-color: navy;
	color: white;
	font-size: 28px;
}
body{
	background-color: #e8e8e3;
}